.hak {
    font-family: 'Times New Roman';
    text-align: center
}

html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.flex {
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 80px;
    background-color: red;
    color: white;
    font-family: 'Times New Roman';
}

img {
    border: 5px solid red ;
}

.brd {
    border: 4px double black;
    background: LimeGreen;
    padding: 10px;
}

.textborder {
    border: 3px double black;
    background: Chartreuse;
    padding: 5px;
}

body {
    background: ForestGreen;
}
