

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Подробная версия", "Index2")

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/new2.css" rel="stylesheet" />

</head>
<body>

    <div class="brd">

    <table>

        <tr>
            <td>
                <h1> Пауки-птицееды</h1>
                Пауки́-птицее́ды, или пауки-птицея́ды (лат. Theraphosidae) — семейство пауков из инфраотряда мигаломорфных (Mygalomorphae).

                <h1> В природе</h1>
                <h2> Среда обитания</h2>
                Птицееды населяют все континенты, кроме Антарктиды. 
                <h2> Питание</h2>
                Пауки в достаточной степени всеядны и могут съесть разнообразный корм.
                <h2> Поведение</h2>
                Различные виды птицеедов предпочитают жить в кронах деревьев, кустарников, в укрытиях на уровне грунта или в норах.
                Они в течение жизни часто меняют модель поведения.
                Норные пауки выкапывают укрытия в земле, используя паутину для укрепления грунта
                древесные плетут трубки из паутины.
                <h1> Защитные механизмы</h1>
                <h2> Укус паука</h2>
                Укус птицееда для взрослого здорового человека не смертелен.
                Подтверждённых случаев смерти в результате укуса птицееда неизвестно, однако пауководы-любители отмечали случаи гибели кошек от укусов своих питомцев.
                В свете этого, пауков надо считать смертельно опасными для маленьких детей или людей, имеющих повышенную чувствительность к этому яду — наличие аллергии на токсин.
            </td>
        </tr>
      
    </table>
    </div>
</body>
</html>


