

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Мини-версия", "Index")

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/Content/new2.css" rel="stylesheet" />
    
</head>
<body>
    <div class="brd">
        
            <table>

                <tr>
                    <td>
                        <h1> Пауки-птицееды</h1>
                        Пауки́-птицее́ды, или пауки-птицея́ды (лат. Theraphosidae) — семейство пауков из инфраотряда мигаломорфных (Mygalomorphae).
                        Взрослые особи характеризуются крупными размерами, в некоторых случаях превышая 27 см в размахе ног.
                        Широко распространено содержание птицеедов в качестве экзотических домашних животных.
                    </td>
                </tr>
            </table>
            <table>

                <tr>
                    <td>
                        <h1> В природе</h1>
                        <h2> Среда обитания</h2>
                        Птицееды населяют все континенты, кроме Антарктиды. Ареал включает полностью Африку, Южную Америку, Австралию и Океанию.
                        В Европе пауки-птицееды встречаются редко, их ареал включает южную половину Италии, Испанию и Португалию.
                        Встречаются как влаголюбивые виды, обитающие в кронах экваториальных лесов, к примеру Caribena versicolor
                        и засухоустойчивые полупустынные, к примеру Chromatopelma cyaneopubescens
                    </td>
                    <td>

                        <img src="~/keks/kek7.jpg" width="400" height="400" alt="kek7" / >
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/keks/kek8.jpg" width="400" height="400" alt="kek8" / >
                    </td>
                    <td>
                        <h2> Питание</h2>
                        Птицееды являются облигатными (строгими) хищниками. Вопреки названию,
                        их пищеварительная система не рассчитана на постоянное питание мясом (птицей).
                        Основу рациона пауков-птицеедов составляют насекомые или более мелкие пауки.
                        Пауки в достаточной степени всеядны и могут съесть разнообразный корм:
                        мух, тараканов, мотылей, лягушат, мелких грызунов, птиц, рыб и многое другое.
                        Птицееды подкарауливают добычу из засады, а не используют паутину для изготовления ловушек.
                    </td>
                </tr>

            </table>
            <table>
                <tr>
                    <td>
                        <h2> Поведение</h2>
                        Различные виды птицеедов предпочитают жить в кронах деревьев, кустарников, в укрытиях на уровне грунта или в норах.
                        Они в течение жизни часто меняют модель поведения; если личинки ведут себя как норные,
                        то взрослые особи большую часть времени могут проводить на поверхности, что свойственно наземным и полудревесным видам.
                        Норные пауки выкапывают укрытия в земле, используя паутину для укрепления грунта; древесные плетут трубки из паутины.
                        В большинстве случаев пауки проявляют активность лишь тогда, когда это очевидно необходимо.
                        Даже голодные пауки могут подолгу сидеть совершенно неподвижно, выслеживая в засаде свою добычу.
                        Сытые пауки как правило проявляют ещё меньше активности: взрослые самки птицеедов зачастую месяцами не покидают своих укрытий.
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h1> Защитные механизмы</h1>
                        <h2> Укус паука</h2>
                        Все виды птицеедов в той или иной степени ядовиты; если речь идёт о неядовитых видах, то это подразумевает относительно низкую степень токсичности яда.
                        Укус птицееда для взрослого здорового человека не смертелен, но крайне неприятен (острая боль, жар, делирий, мышечные судороги и др.).
                        Подтверждённых случаев смерти в результате укуса птицееда неизвестно, однако пауководы-любители отмечали случаи гибели кошек от укусов своих питомцев.
                        В свете этого, пауков надо считать смертельно опасными для маленьких детей или людей, имеющих повышенную чувствительность к этому яду — наличие аллергии на токсин.
                        При укусе яд вводится не во всех случаях, часто происходит «сухой» укус.
                    </td>
                    <td>
                        <img src="~/keks/kek9.jpg" width="400" height="400" alt="kek9" / >
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/keks/kek8.jpg" width="400" height="400" alt="kek8" / >
                    </td>
                    <td>
                        <h2> Волоски</h2>
                        Также источником раздражения могут служить защитные ядовитые волоски, которые многие виды пауков счёсывают с брюшка.
                        Волоски счёсываются пауками от стресса (в неволе), в природе же в случае возможной опасности или в целях самозащиты,
                        а также пауки вплетают волоски в паутину, тем самым защищая своё гнездо. При попадании волосков на кожу, в глаза,
                        лёгкие может возникнуть аллергическая реакция: нестерпимый зуд, резь в глазах, удушье, общая слабость.
                        Обычно симптомы пропадают через несколько часов, но в случае попадания волосков в глаза возможно и постоянное ухудшение зрения.
                        Пауководы-любители отмечают, что ядовитые волоски наиболее развиты у наземных и полудревесных видов, в чуть меньшей — у норных,
                        и практически отсутствуют у ряда древесных. Древесные пауки не стряхивают защитные волоски со своего брюшка,
                        а используют лишь при непосредственном контакте.
                    </td>
                </tr>
            </table>
        </div>
    
</body>
</html>
