<!DOCTYPE html>
<html>
<head>
    <title>Пауки птицееды </title>
    <link href="~/Content/new2.css" rel="stylesheet" />
    <h1 class="hak">Пауки птицееды</h1>


</head>
<body>
    
        <table>
            <tr>
                <th>
                    <img src="~/keks/kek1.jpg" width="210" height="210" alt="кек" />
                </th>
                <th>
                    <img src="~/keks/kek2.jpg" width="210" height="210" alt="кек2" />
                </th>
                <th>
                    <img src="~/keks/kek3.jpg" width="210" height="210" alt="кек3" />
                </th>
                <th>
                    <img src="~/keks/kek4.jpg" width="210" height="210" alt="kek4" />
                </th>
                <th>
                    <img src="~/keks/kek5.jpg" width="210" height="210" alt="kek5" />
                </th>
                <th>
                    <img src="~/keks/kek6.jpg" width="210" height="210" alt="kek6" />
                </th>
            </tr>
            <tr>
                <td align="center">Brachypelma smithi</td>
                <td align="center">Poecilotheria metallica</td>
                <td align="center">Theraphosa blondi</td>
                <td align="center">Chromatopelma cianeopubescens</td>
                <td align="center">Psalmopoeus irminia</td>
                <td align="center">Avicularia purpurea</td>
            </tr>
        </table>
        <h1>
            @RenderBody()
        </h1>

    
    <footer> <h2 class="flex">Priyet corp</h2></footer>
</body>
</html>
